<div
  class="scanner__wrapper"
  [ngStyle]="{
    'border-color': scanStatusColor
  }"
>
  <div class="scanner__status">
    <div
      [ngClass]="[
        'scanner__status--result',
        scanStatus,
        isReaderConnected ? 'connected' : ''
      ]"
    >
      <img
        [src]="
          fingerprintImgString
            ? fingerprintImgString
            : 'assets/images/fingerprint-svgrepo-com.svg'
        "
      />
    </div>
    <h2
      [ngClass]="['scanner__status--scan-status', scanStatus]"
      [innerHtml]="scanStatusMessage"
    ></h2>
  </div>
</div>
