<div
  class="scanner__wrapper"
  [ngStyle]="{
    'border-color': scanStatusColor
  }"
>
  <div class="scanner__status">
    <div
      [ngClass]="[
        'scanner__status--result',
        scanStatus,
        isReaderConnected ? 'connected' : ''
      ]"
    >
      <img
        [src]="
          fingerprint
            ? fingerprintPhoto
            : 'assets/images/fingerprint-svgrepo-com.svg'
        "
      />
    </div>
    <h2
      [ngClass]="['scanner__status--scan-status', scanStatus]"
      [innerHtml]="scanStatusMessage"
    ></h2>
  </div>
</div>
<p *ngIf="!isReaderConnected" class="note">
  <em
    >Note: HID® DigitalPersona® fingerprint reader requires DigitalPersona Agent
    running on your machine. You can download and install DigitalPersona Lite
    Client for Windows
    <a
      target="_blank"
      href="https://www.crossmatch.com/AltusFiles/AltusLite/digitalPersonaClient.Setup64.exe"
      >here</a
    >.</em
  >
</p>
