@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.scanner {
  &__wrapper {
    padding: 15px;
    border: 5px solid;
    text-align: center;
  }

  &__reset {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid red;
    background-color: #fff;
    color: red;
    border-radius: 0;
    translate: 0.4s;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      background-color: red;
      color: #fff;
      translate: 0.4s;
    }
  }

  &__status {
    position: relative;
    text-align: center;

    &--connect-request {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
      z-index: 1;
      translate: 0.4s;

      .hidden {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        translate: 0.4s;
      }
    }

    &--circle {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      background-color: rgb(190, 190, 190);
      border-radius: 50%;
      animation: blinker 1s linear infinite;

      &.success {
        background-color: green;
        animation: none;
      }

      &.failed {
        background-color: red;
        animation: none;
      }
    }

    &--status {
      font-size: 1.3rem;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      word-spacing: 100vw;
      font-weight: 500;
      color: #fff;
    }
  }
}
