<div
  class="scanner__wrapper"
  [ngStyle]="{
    'border-color': scanStatusColor
  }"
>
  <h2 class="scanner__status-title">Fingerprint scan status</h2>
  <div class="scanner__status">
    <h2
      [ngClass]="{
        'scanner__status--scan-status': true,
        'not-empty':
          isReaderConnected &&
          (scanStatus === eScanStatus.Successful ||
            scanStatus === eScanStatus.Failed)
      }"
      [innerHtml]="scanStatusMessage"
    ></h2>
    <div
      [ngClass]="[
        'scanner__status--circle',
        scanStatus,
        isReaderConnected ? 'connected' : ''
      ]"
    ></div>
  </div>
  <button
    [disabled]="scanStatus === eScanStatus.Empty"
    class="scanner__reset"
    (click)="resetScanningStatus()"
  >
    Scan new finger
  </button>
</div>
