.image-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  margin: 2em 0;

  .images {
    width: 100%;
    overflow: hidden;
    transition: 1s;
    opacity: 1;

    img {
      min-width: 100%;
      height: 300px;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &.selected {
    .images {
      transition: 1s;
      opacity: 0.3;

      &:hover,
      &.selected {
        transition: 1s;
        opacity: 1;
      }
    }
  }
}

.analyzing {
  width: 100%;
  text-align: center;
}
