<div class="container p-20">
  <h1 class="p-20">DEVICES API FOR DIGITALPERSONA ACCESS MANAGEMENT </h1>
  <mat-stepper #stepper>
    <mat-step label="Scan your fingers">
      <div>
        <app-scan-fingers></app-scan-fingers>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Capture your photo">
      <div>
        <p>Capture image component placeholder</p>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select image</ng-template>
      <p>List all images and user chooses one</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
