<div class="container p-20">
  <h1 class="p-20">DEVICES API FOR DIGITALPERSONA ACCESS MANAGEMENT</h1>
  <mat-stepper linear #stepper>
    <mat-step label="Scan your fingers" [completed]="step > 1">
      <div>
        <app-scan-fingers
          [(isReaderConnected)]="isFingeringDeviceConnected"
          [(step)]="step"
          (updateSampleAcquired)="updateSampleAcquired($event)"
          class="app-scan-fingers"
        ></app-scan-fingers>
      </div>
      <div>
        <button
          mat-flat-button
          color="primary"
          mat-button
          [disabled]="step <= 1"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Capture your photo" [completed]="step > 2">
      <div>
        <p>Capture image component placeholder</p>
      </div>
      <div>
        <button mat-raised-button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" mat-button matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="step > 3">
      <ng-template matStepLabel>Select image</ng-template>
      <p>List all images and user chooses one</p>
      <div>
        <button mat-raised-button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" mat-button matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button mat-button matStepperPrevious>Back</button>
        <button
          mat-flat-button
          color="warn"
          mat-button
          (click)="stepper.reset()"
        >
          Reset
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
