<div class="container p-20">
  <h1 class="p-20">DEVICES API FOR DIGITALPERSONA ACCESS MANAGEMENT</h1>
  <mat-stepper linear #stepper (selectionChange)="changeStep($event)">
    <mat-step label="Scan your fingers">
      <div>
        <app-scan-fingers
          [(isReaderConnected)]="isFingeringDeviceConnected"
          (updateSampleAcquired)="updateSampleAcquired($event)"
          class="app-scan-fingers"
        ></app-scan-fingers>
      </div>
      <div>
        <button
          mat-flat-button
          color="primary"
          mat-button
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Capture your photo">
      <div>
        <app-capture-photo
          (captured)="capturedPhoto($event)"
        ></app-capture-photo>
      </div>
      <div>
        <button mat-raised-button mat-button matStepperPrevious>Back</button>
        <button
          mat-flat-button
          color="primary"
          mat-button
          matStepperNext
          [disabled]="!stepModel.photo"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select image</ng-template>
      <app-image-selection
        [isImageGenerating]="isImageGenerating"
        (selectedImage)="stepper.next()"
      ></app-image-selection>
      <div>
        <button mat-raised-button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" mat-button matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button mat-button matStepperPrevious>Back</button>
        <button
          mat-flat-button
          color="warn"
          mat-button
          (click)="stepper.reset()"
        >
          Reset
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
