.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.p-20 {
  padding: 20px;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  .ng-star-inserted {
    display: flex;
    justify-content: flex-end;

    .app-capture-photo,
    .app-scan-fingers {
      width: 100%;
    }

    button {
      margin-top: 10px;
      padding: 0 30px;

      &.mat-stepper-previous {
        margin-right: 10px;
      }
    }
  }
}

.last-step {
  flex-direction: column;
  .actions-btn {
    display: flex;
    justify-content: flex-end;
  }
}
