body {
  background-color: #f0f0f0;
}
.capture-image-container {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#video {
  background-color: #000000;
}
#canvas {
  display: none;
}
.captured-photo {
  padding: 20px;
}
