<div class="capture-photo__container">
  <div class="capture-photo__camera">
    <div
      *ngIf="capturedPhoto"
      [ngClass]="{ 'capture-photo__photo': true, small: isPhotoCaptured }"
    >
      <img src="{{ capturedPhoto }}" />
    </div>
    <video #video id="video" autoplay></video>
  </div>
  <button class="capture-photo__capture" mat-raised-button (click)="capture()">
    <img src="assets/images/camera-icon.png" />
  </button>
  <canvas #canvas id="canvas" width="640" height="480"></canvas>
</div>
